<launch>
    <arg name="mav_name" default="$(env MAV_NAME)/"

    <group ns="$(arg mav_name)">
        <node pkg="nodelet" type="nodelet" args="manager"
            name="ovmsckf_nodelet_manager" output="screen"> 
        </node>

        <node pkg="nodelet" type="nodelet" args="load odom_transform_nodelet/OvtransformNodeletClass ovmsckf_nodelet_manager"
            name="odom_transform_nodelet" output="screen">
            <param name="config_path"            type="string" value="$(find odom_transform)/config/transform.yaml" />
            <rosparam file="$(find odom_transform)/config/transform.yaml" />
	    </node>
    </group>
</launch>
